.details {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16,22,26,.4), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
  background: #293742;
  color: #bfccd6;
}
